//Variables

$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-test-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

//Header

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: space-between;


  a {
    @include white-text-black-bg;
    div {
      margin: 10px;
      font-size: large;
    }
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-right: 1.2rem;
      cursor: pointer;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//Form

section,
div {
  form {
    input {
      @include white-text-black-bg;
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      &[type="submit"]:hover {
        @include black-test-white-bg;
      }
    }
  }
}

//Button

button#delete {
  @include white-text-black-bg;
  display: block;
  margin: auto;
  font-size: 1.3em;
  padding: 10px;

}

//images

img {
  width: 180px;
  height: 180px;
  border-radius: 20px;
  object-fit: cover;
}

.grid-container {
  display: inline-grid;
  gap: 50px;
  background-color: white;
  width: 220px;

}


#logo {
  width: 190px;
  height: 70px;
}

.formTitle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}
.formImage {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}
.formName {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}